body {
    font-family: "Roboto Mono", monospace;
}

/* Styling the table */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

/* Header + col spacing */
thead {
    letter-spacing: 1px;
    font-size: 0.9rem;
}
thead th:nth-child(1) {
    width: 28%;
}
thead th:nth-child(2) {
    width: 2%;
}
thead th:nth-child(3) {
    width: 20%;
}
thead th:nth-child(4) {
    width: 50%;
}
thead {
    color: white;
    background-color: rgb(95, 14, 105);
}

/* Body */
tbody {
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}
tbody th, tbody td {
    padding: 0.3rem;
    font-weight: normal;
}

/* "zebra-striping" rows */
tbody tr.odd {
    background-color: #EEE;
}
tbody tr.even {
    background-color: #CCC;
}

td.amount {
    text-align: right;
    padding-right: 1rem;
}

td.description {
    text-decoration: underline;
}

/* (toggleable) hidden rows */
.hidden {
    display: none;
}
tbody tr.extrainfo th {
    text-align: right;
    font-style: italic;
}